extends layout

block content
  main#main
    section.container
      #form_wrapper.content_wrapper
        .content
          h2 Login to your account
          p | In order to use the editing and rating capabilities of TMDB, you will need to login to your account. If you do not have an account, registering for an account is free and simple. 
            a(href='#') Click here
            |  to get started.

          form(action="/login" method="post")
            .mb-3
              label(for="email") Email
              input#email.form-control(type="email" name="email" placeholder="Enter email")
            .mb-3
              label(for="password") Password
              input#password.form-control(type="password" name="password" placeholder="Password")
            .d-flex.align-items-center
              input(type="submit", value="Login", class="btn btn-primary")
              p.reset_password 
                a(href="/reset_password") Forgot your password?